.query-display {
  background-color: rgb(233, 233, 233);
  width: 50%;
  margin: 3% auto 1% auto;
  box-shadow: 0 0 6px 0.5px grey;
  /* border-radius: 10px; */
}
.heading {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: #3b436e;
}
.query-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
}
.query-form label {
  color: #3b436e;
  font-size: 1.2rem;
}
.query-form button {
  color: #3a8a4d;
  font-size: 1.2rem;
  width: 20%;
  height: 4.5vh;
  /* border-radius: 10px; */
  margin-bottom: 3%;
  border: 1px solid #3a8a4d;
  background-color: transparent;
}
.query-form input[type="text"] {
  width: 40%;
  height: 2vh;
  margin-bottom: 1%;
  /* border-radius: 5px; */
  border: 1px solid black;
}
.query-form textarea {
  width: 80%;
  height: 10vh;
  margin: 1% 0 2% 0;
  font-size: 1.3rem;
  /* border-radius: 10px; */
}
.address {
  color: rgb(84, 84, 84);
  width: 80%;
  margin: auto;
  align-self: center;
  font-size: 1.2rem;
  padding: 1%;
}
.contact-display {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
}

.contact-info > div {
  width: 50%;
  padding: 2%;
  height: 30vh;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 1.2rem;
  padding: 1%;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 1.2rem;
  padding: 1%;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  padding: 1%;
  font-size: 1.2rem;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding: 1%;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .query-display {
    width: 95%;
  }
  .heading {
    font-size: 1.2rem;
  }
  .query-form {
    width: 100%;
    padding: 1%;
  }
  .contact-info {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contact-display * {
    min-width: 90%;
  }
}
