.subheading {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: #3b436e;
}
.subtext {
  color: rgb(84, 84, 84);
  text-align: justify;
  width: 95%;
  margin: auto;
}

.contact-display {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
}

.contact-info > div {
  width: 50%;
  padding: 2%;
  height: 30vh;
}
