.heading {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: #3b436e;
}
.address {
  color: rgb(84, 84, 84);
  width: 80%;
  margin: auto;
  align-self: center;
  font-size: 1.2rem;
  padding: 1%;
}
.contact-display {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
}

.contact-info > div {
  width: 50%;
  padding: 2%;
  height: 30vh;
}
