section {
  font-family: serif;
  padding: 1%;
}
section:nth-child(2n) {
  background-color: rgb(243, 243, 243);
}
.section-heading {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: #3b436e;
}
.subheading{
  font-size: 1.2rem;
  text-align: center;
  font-family: sans-serif;
  color: #3b436e;
}
.subtext {
  color: rgb(84, 84, 84);
  text-align: justify ;
  width:95%;
  margin:auto;
}

#intro > div {
  display: flex;
  margin-bottom: 1vh;
}
#intro {
  padding-top: 7vh;
}
#intro-collage {
  height: 45vh;
  width: 50%;
  border-radius: 10px;
  padding: 0 1%;
}
#intro-about {
  align-self: center;
  width: 50%;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1%;
}

/* Media queries */

@media screen and (max-width: 600px) {
  #intro {
    padding-top: 5vh;
  }
  #intro > div {
    justify-content: center;
    align-items: center;
  }
  #first-display {
    flex-direction: column;
  }
  #second-display {
    flex-direction: column-reverse;
  }
  #intro-about,
  #intro-collage {
    align-self: unset;
    width: 90%;
    height: auto;
    font-size: 1.2rem;
    margin-bottom: 1vh;
  }
}
