body {
  margin: 0;
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 0.5% 0.8% 0.5%;
  height: 3vh;
  align-items: center;
  width: 99%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}
#logo {
  display: flex;
  /* align-items: center; */
}
#company-name {
  margin-left: 0.35vw;
  color: #3a8a4d;
  font-size: 2rem;
  font-family: "Carattere", cursive;
}
#nav-items ul {
  list-style: none;
  display: flex;
}
#nav-items ul li {
  margin-right: 2vw;
}
.nav-item > a {
  font-size: 1.4rem;
  color: #444b71;
  font-family: serif;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item > a:hover {
  color: #3a8a4d;
}

/* Media queries */

@media screen and (max-width: 600px) {
  .nav-item > a {
    font-size: 1rem;
  }
  #navbar {
    padding-top: 1%;
  }
}
